body {
    background: lightgrey;
    background-image: url("../images/");
    background-repeat: repeat
}

#wrapper {
    background: skyblue;
    width: 900px;
    margin: auto;
    border: 3px solid darkgreen;
    border-radius: 10px;
}
/*insert background*/
header {
    background-image: url("../images");
    background-position: 0 30px;
}

header {
    background: green;
    padding: 30px;
}

header img {
    width: 200px
}

header h1 {
    display: inline;
    float: right;
    margin-right: 20px;
    color: white;
    font-size: 2em;
}

nav {
    background: goldenrod;
    width: 100%;
    border-top: 5px solid darkgreen;
    border-bottom: 5px solid darkgreen;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

nav a {
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

nav a:hover {
    background: green;
    text-shadow: 4px 4px 4px greenyellow;
}

footer form {
    /*background: darkgreen;*/
    width: 200px;
    height: 250px;
    padding: 10px;
    border: 3px dashed goldenrod;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 10px;
}

section {
    border: 3px solid darkgreen;
    background: whitesmoke;
    width: 28%;
    float: left;
    padding: 0 30px;
    margin: 20px;
    box-sizing: border-box;
}

section img {
    width: 200px;
}

table {
    clear: both;
}

table.greenTable {
    background-color: #D4EED1;
    text-align: center;
    border-collapse: collapse;
  }
  table.greenTable td, table.greenTable th {
    border: 3px solid #24943A;
    padding: 3px 2px;
  }
  table.greenTable tr:nth-child(even) {
    background: #68C573;
  }
  table.greenTable thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  }
  table.greenTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #F0F0F0;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
  }